/* root */
:root {
  --main-color: #6327fe;
  --second-color: #eae8fe;
  --machine-btn-font-color: #fff;
  --border-color: #bdbdbd;
}

/* reset */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.4rem;
}

body,
h1,
h2,
p,
ul,
button {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-size: 100%;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

img {
  vertical-align: text-bottom;
}

/* hidden */
.a11y_hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* common */
.cola_name {
  font-size: 0.9rem;
}

.cola_price,
.total_price {
  font-size: 1.2rem;
}

.btn {
  font-size: 1.3rem;
}

/* mobile - layout */
.logo {
  text-align: center;
}

.logo,
main {
  min-width: 36rem;
}

main {
  margin: 0 auto;
}

main .section1 {
  padding: 3.1rem 2.7rem 2.8rem;
}

main .section1 .cola_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  margin-bottom: 2rem;
}

main .section1 .machine_control {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1.2rem;
}

main .section1 .machine_control .money_wrap,
main .section2 .money_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .section2 {
  padding: 0.9rem 2.7rem;
}

main .section3 {
  padding: 2.5rem 2.7rem 2.6rem;
  min-height: 36.4rem;
  display: flex;
  flex-direction: column;
}

main .section3 .get_list {
  margin-top: 1.3rem;
  margin-bottom: 0.6rem;
}

/* mobile - section 1 */
.logo > img {
  width: 16.6rem;
}

main .section1 .cola_list .btn_cola {
  padding: 1.1rem 1rem 1.4rem 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

main .section1 .cola_list .btn_cola .cola_price {
  padding: 0.5rem 1.55rem;
  border-radius: 5rem;
  background-color: var(--main-color);
  color: var(--machine-btn-font-color);
}

main .section1 .machine_control .money_wrap,
main .section2 .money_wrap {
  height: 3.2rem;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--second-color);
}

main .section1 .machine_control .btn {
  min-width: 9.4rem;
  padding: 0.6rem 0.9rem 0.7rem 1rem;
  box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

main .section1 .machine_control > input {
  height: 3.2rem;
  padding: 0.7rem 0 0.6rem 1rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 5px;
  text-align: left;
}

main .section1 .machine_control input::placeholder {
  color: var(--border-color);
}

main .section1 .machine_control .select_list {
  height: 10.6rem;
}

main .section1 .machine_control .select_list,
main .section3 .get_list {
  padding: 1.2rem 1.8rem 1.2rem 1.2rem;
  overflow-y: scroll;
  overflow-x: clip;
  background-color: var(--second-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
}

main .section1 .machine_control .select_list > li,
main .section3 .get_list > li {
  padding: 0.6rem 0.8rem 0.7rem 1rem;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
}

main .section1 .machine_control .select_list > li:last-child,
main .section3 .get_list > li:last-child {
  margin-bottom: 0;
}

main .section1 .machine_control .select_list > li > img,
main .section3 .get_list > li > img {
  width: 1.8rem;
  height: 3.3rem;
}

main .section1 .machine_control .select_list > li .number,
main .section3 .get_list > li .number {
  margin-left: auto;
  width: 3rem;
  height: 3rem;
  padding: 0.4rem 1.1rem 0.6rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  text-align: center;
  line-height: 2rem;
}

main .section1 .machine_control .select_list + button {
  background-color: var(--main-color);
  color: var(--machine-btn-font-color);
}

/* mobile - section 2 */

/* mobile - section 3 */
main .section3 > h2 {
  text-align: center;
}

main .section3 .get_list {
  height: 36.4rem;
}

main .section3 .total_price {
  text-align: right;
  line-height: 1.7rem;
}

/* tablet & PC */
@media (min-width: 768px) {
  /* layout */
  body {
    background-color: var(--second-color);
  }

  .logo {
    margin-bottom: 6.7rem;
  }

  .logo > img {
    width: 27.6rem;
  }

  main {
    width: 748px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem auto;
    grid-template-areas:
      "section1 section2"
      "section1 section3";
    gap: 2rem 2.8rem;
  }

  main .section1 {
    grid-area: section1;
  }

  main .section2 {
    grid-area: section2;
  }

  main .section3 {
    grid-area: section3;
  }

  /* section */
  .logo > img {
    width: 38.6rem;
  }

  main .section1,
  main .section2,
  main .section3 {
    background-color: #fff;
  }
}
